{% extends "admin/base.html" %}

{% block content %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Courses
          </h1>
        </section>

        <!-- Main content -->
        <section class="content">
          <h2 class="page-header">Khoá học nổi bật</h2>
          <div class="row">
            {% for course in courses %}
            <div class="col-md-4">
              <!-- Widget: user widget style 1 -->
              <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black" style="background: url('../uploads/images/hinh-hoc-7.jpg') center center; position: relative;">
                  <div class="widget-user-layer" style="background-color: rgba(0, 0, 0, 0.7); position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 20px">
                    <h3 class="widget-user-username">{{ course.name }}</h3>
                    <h5 class="widget-user-desc">GV: {{ g.user.name }}</h5>
                  </div>
                </div>
                <div class="widget-user-image">
                  <img class="img-circle" src="{{ g.user.avatar() }}" alt="User Avatar">
                </div>
                <div class="box-footer">
                  <div class="row">
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">{{ course.price }} VND</h5>
                        <span class="description-text">Học phí</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-4 border-right">
                      <div class="description-block">
                        <h5 class="description-header">{{ course.lectures.count() }}</h5>
                        <span class="description-text">Bài Giảng</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                    <div class="col-sm-4">
                      <div class="description-block">
                        <h5 class="description-header">35</h5>
                        <span class="description-text">PRODUCTS</span>
                      </div><!-- /.description-block -->
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div>
              </div><!-- /.widget-user -->
            </div><!-- /.col -->
            {% endfor %}
          </div>
          <h2 class="page-header">Khoá học miễn phí</h2>
          
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
{% endblock %}
