{% extends "index.html" %}
  
{% block content %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- About starts -->
            
            <div class="about">
               <div class="row">
                  <div class="span12">
                  
                     <!-- About hero -->
                     <div class="about-hero">
                        <p><span class="hightlight">CLB Gia sư chuyên Lam Sơn</span>. Tiền thân là Câu lạc bộ chuyên Toán Lam Sơn - Thanh Hóa khóa 2005 - 2008 được thành lập ban đầu là 1 topic trên diễn đàn <a href="http://bit.ly/110UIIn"> lamchame.com </a> 
													Bắt đầu từ ý tưởng đáp ứng nhu cầu Học và Dạy trên 1 kênh diễn đàn cộng với các mối quan hệ trên diễn đàn và đam mê truyền thụ kiến thức cho thế hệ , câu lạc bộ ra đời ban đầu chỉ là khối chuyên Toán.
													Câu lạc bộ đã được sự ủng hộ của rất nhiều thành viên diễn đàn, chủ yếu là những người đã có gia đình, có cái nhìn đúng đắn về việc dạy và học cũng như tin tưởng vào nhiệt huyết cũng như trình độ của học sinh chuyên Lam Sơn.
													Là câu lạc bộ gia sư đầu tiên tại Hà Nội hoạt động trên mô hình thành viên 100% học Chuyên với kiến sức sâu, rộng, có cái nhìn tổng quan về kiến thức, đồng thời có nhiêt huyết với công việc, đam mê trong việc truyền thụ kiến thức cho thế hệ sau.
													Không những thế, các thành viên đều học tại các trường đại học hàng đầu tại Việt Nam như:
													Ngoại thương, Y Hà Nội, Dược, Ngân hàng, Kinh tế quốc dân, Tài chính.
													Đối với khối ngành kĩ thuật, Câu lạc bộ chỉ tuyển các bạn học lớp liên kết nước ngoài, lớp tiên tiến và chất lượng cao.
						<br /><span class="hightlight">Câu lạc bộ đặt hiệu quả của việc rèn Đức và luyện Tài lên hàng đầu vì vậy cam kết mang tới những Gia sư tốt nhất cho mỗi gia đình.</span>
						</p>
                     </div>
                     
                     <!-- Teams -->
                     
                     <div class="teams">
                        <div class="row">
                           <div class="span3">
                              <!-- Staff #1 -->
                              <div class="staff">
                                 <!-- Picture -->
                                 <div class="img_tutor">
                                    <img src="static/img/tutor_img/anhht.JPG" alt="" />
                                 </div>
                                 <!-- Details -->
                                 <div class="details">
                                    <!-- Name and designation -->
                                    <div class="desig pull-left">
                                       <p class="name">Hoàng Tuấn Anh</p>
                                       <em>Chủ nhiệm CLB</em>
                                    </div>
                                    </div>
                              </div>
                           </div>
                           <div class="span3">
                              <!-- Staff #2 -->
                              <div class="staff">
                                 <div class="img_tutor">
                                    <img src="static/img/tutor_img/quannh.jpg" alt="" />
                                 </div>
                                 <div class="details">
                                    <div class="desig pull-left">
                                       <p class="name">Nguyễn Hồng Quân</p>
                                       <em>Phó chủ nhiệm CLB</em>
                                    </div>
                                    </div>
                              </div>
                           </div>
                           <div class="span3">
                              <!-- Staff #3 -->
                              <div class="staff">
                                 <div class="img_tutor">
                                    <img src="static/img/tutor_img/hainh.jpg" alt="" />
                                 </div>
                                 <div class="details">
                                    <div class="desig pull-left">
                                       <p class="name">Nguyễn Hoàng Hải</p>
                                       <em>Marketing Online</em>
                                    </div>
                                    </div>
                              </div>
                           </div>
                           <div class="span3">
                              <!-- Staff #4 -->
                              <div class="staff">
                                 <div class="img_tutor">
                                    <img src="static/img/tutor_img/huylvt.jpg" alt="" />
                                 </div>
                                 <div class="details">
                                    <div class="desig pull-left">
                                       <p class="name">Lê Viết Thái Huy</p>
                                       <em>Hỗ trợ kỹ thuật</em>
                                    </div>                                    
                                    </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            
            <!-- About ends -->
                    
         </div>
      </div>
   </div>
</div>   

{% endblock %}