{% from "macros/_pagination.html" import render_pagination %}
{% extends "index.html" %}
  
{% block content %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Team starts -->
            
            <div class="about">
               <div class="row">
                  <div class="span9">
                  
                     <!-- clients hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Danh sách lớp mới</span></h3>
                        
                     </div>
                     <!-- Clients -->
                     
                     <!-- Clients list. Note down the class name before editing. -->
                     <div class="row">
                     	{% for cinfo in classinfo %}
                        <div class="span3">
                           <div class="cclient">
                              <!-- Client image -->
                              <div class="cimage">
                                 <img src="{{ url_for('static', filename=cinfo.urlimg) }}" alt="" />
                              </div>
                              <div class="cmatter">
                                 <!-- Client title -->
                                 <h4> {{ cinfo.subject }}</h4>
                                 <span>{{ cinfo.level }}</span>
                                 <span>{{ cinfo.address }}</span> <br />
                                 <span>Học phí: {{ cinfo.fee }}</span> <br />
                                 <span>Mức phí: {{ cinfo.pay }}</span> <br />
                                 <span>Thời gian: {{ cinfo.time }} buổi/tuần.</span> <br />
                                 {% if cinfo.status == "waiting" %}
                                 <span class="label label-warning">Chưa giao lớp</span>
                                 <span class="label label-inverse"><a href="#" data-reveal-id="registerclass">Nhận lớp</a></span>
                                 {% else %}
                                 <span class="label label-success">Đã có người nhận</span>
                                 {% endif %}
                                 <p> {{ cinfo.require }}</p>
                                 
                                 <div id="registerclass" class="reveal-modal">
     															<h3>Đăng kí nhận lớp:</h3>
     															<form action="/registerclass" method="post">
     															<input class="input-mini" type="hidden" value="{{ cinfo.classid }}" name="classid" readonly> <br/>
     															<input class="input-large" type="text" placeholder="Your mobile" name="mobilerc">
     															<input class="input-large" type="text" placeholder="Your email" name="emailrc"> <br/>
     															<button type="submit" class="btn">Đăng kí</button>
     															</form>
     															<a class="close-reveal-modal">&#215;</a>
																</div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}              
                     
                     </div>
                     <div class="row">
                           <!-- Pagination --> 
                           <div class="form">
                             <!-- Contact form start (not working)-->
                         	  {{ render_pagination(pagination) }}
                           <!-- Contact form end -->
                           </div> 
                  	</div>
                  </div>
                  <!-- Support Online -->
                  <div class="span3">
                    <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Hỗ trợ trực tuyến:</span></h3>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?cloud_hai"><img src="http://opi.yahoo.com/online?u=cloud_hai&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Nguyễn Hoàng Hải</b> <br />
                     	<b>0126 586 6886</b>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?hoangtu_banggia_2005"><img src="http://opi.yahoo.com/online?u=hoangtu_banggia_2005&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Nguyễn Hồng Quân</b> <br />
                     	<b>0165 606 4263</b>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?lukesky_84"><img src="http://opi.yahoo.com/online?u=lukesky_84&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Hoàng Tuấn Anh</b> <br />
                     	<b>0947 046 064</b>
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- About ends -->
            
         </div>
      </div>
   </div>
</div>

{% endblock %}