{% from "macros/_form.html" import render_form %}

{% extends "index.html" %}
  
{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Contact starts -->
            
            <div class="contact">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Contact hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span class="color">Liên hệ:</span></h3>
                        <!-- para -->
                        <p>Câu lạc bộ gia sư THPT chuyên Lam Sơn - Thanh Hóa trân trọng cảm ơn các bậc phụ huynh, các em học sinh đã quan tâm và lựa chọn chúng tôi.
							Để được hỗ trợ tốt hơn, vui lòng liên hệ trực tiếp với chúng tôi:</p>
                     </div>
                     <!-- Contact -->
                     
                     <div class="contact">
                        <div class="row">
                           <div class="span12">
                              
                           </div>
                        </div>
                        <div class="row">
                           <div class="span6">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>Liên hệ tìm gia sư:</h5>
                                    <hr />
                                    {% if success %}
    									<div class="flash alert alert-success">Bạn đã gửi yêu cầu thành công.</div>
 
  									{% else %}
                                    	{% for message in form.email.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
									{% endif %}
                                    <div class="form">
                                      <!-- Contact form start (not working)-->
                                  	  {{ render_form(url_for('frontend.contact'), form)}}
                                      <!-- Contact form end -->
                                    </div>
                                    <hr />
                                    
                                       <div class="csoci">  
                                           <!-- Social media icons -->
                                           <strong>Liên lạc qua:</strong>
                                           <div class="social">
                                                <a href="http://on.fb.me/1355Voh"><i class="icon-facebook"></i></a>
                                                <a href="http://bit.ly/YqZcGE"><i class="icon-google-plus"></i></a>
                                                
                                           </div>
                                       </div>
                                 </div>
                           </div>
                           <div class="span6">
                                 <div class="cwell">
                              <!-- Google maps -->
                              <div class="gmap">
                                 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                                 <iframe height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;ll=21.024795,105.800593&amp;spn=0.003505,0.00456&amp;z=17&amp;output=embed"></iframe>
                              </div>
                              
                                    <!-- Address section -->
                                       <h5>Địa chỉ:</h5>
                                       <hr />
                                       <div class="address">
                                           <address>
                                              <!-- Company name -->
                                              <strong>CLB Gia sư chuyên Lam Sơn.</strong><br>
                                              <!-- Address -->
                                              P606, N09, Trung Kính<br>
                                              Q. Cầu Giấy, Hà Nội<br>
                                              <!-- Phone number -->
                                              <abbr title="Phone">M:</abbr> 0947046064.
                                           </address>
                                            
                                           <address>
                                              <!-- Name -->
                                              <strong>Full Name:</strong><br>
                                              <!-- Email -->
                                              <p>Mr: Hoàng Tuấn Anh</p>
                                              <a>giasuchuyenlamson@gmail.com</a>
                                           </address>
                                       </div>
                                 </div>
                           </div>
                        </div>
                        
                     </div>
                     
                  </div>
               </div>
            </div>
                         
            <!-- Service ends -->            
         </div>
      </div>
   </div>
</div>   


{% endblock %}