
{% extends "index.html" %}
  
{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Blog starts -->
            
            <div class="blog">
               <div class="row">
                  <div class="span12">
                     
                     <!-- Blog Posts -->
                     <div class="row">
                        <div class="span8">
                           <div class="posts">
                           
                              <!-- Each posts should be enclosed inside "entry" class" -->
                              <!-- Post one -->
                              <div class="entry">
                                 <h2> {{document.title }} </h2>
                                                        
                                 <!-- Thumbnail -->
                                 <iframe class="scribd_iframe_embed" src="{{ document.linkscribd }}" data-auto-height="false" data-aspect-ratio="0.708006279434851" scrolling="no" id="doc_61448" width="100%" height="850" frameborder="0"></iframe>
                              </div>
                                                            
                              <div class="clearfix"></div>
                           </div>
                        </div>                        
                        <div class="span4">
                           <div class="sidebar">
                              <!-- Widget -->
                              <div class="widget">
                                 <h4>Link Download:</h4>
                                 <ul>
                                 <li>Link Mediafire:</li>
                                 <li>Link Fshare:</li>
                                 </ul>
                              </div>
                                                            
                           </div>                                                
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>               
            <!-- Service ends -->
                    
         </div>
      </div>
   </div>
</div>   

{% endblock %}
