
{% extends "index.html" %}
  
{% block content %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Portfolio starts -->
            
            <div class="portfolio">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Portfolio hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Tài liệu mới nhất:</span></h3>                        
                     </div>
                     <!-- Portfolio -->
                     <div id="portfolio">
                        <!-- Add the above used filter names inside div tag. You can add more than one filter names. For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyPhoto[pp_gal]".-->
                       {% for document in documents %}
                       <div class="span3">
                       	   <a href="{{ url_for('frontend.displaydoc', title = document.title) }}">
                       	   <div class="pcap">
                           <img class="imgthumb" src="static/img/thumb/flask.jpg" alt=""/>
                           <!-- Portfolio caption -->
                           
                              <h5>{{ document.title }}</h5>                              
                           </div>
                           </a>
                       </div>            
                       {% endfor %}
                    </div>
                     
                  </div>
               </div>
            </div>
            
            
            <!-- Service ends -->                 
         </div>
      </div>
   </div>
</div>   

{% endblock %}
