<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="google-site-verification" content="UOO-M31mNvQKIjjydb_BQu9XykaNY6ndCvw_iPhZ60E" />
  <meta name="alexaVerifyID" content="TTMaNrfqkgG3cbteLPcj1aNc_8M" />
  <meta charset="utf-8">
  <!-- Title -->
  <title>Gia Sư Chất lượng cao - Truyền nhiệt huyết - Tạo đam mê</title>
  <!-- Description, Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Huy Le Viet">

  <!-- Stylesheets -->
  <link href="{{ url_for('static', filename='style/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='style/slider.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='style/prettyPhoto.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/font-awesome.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/reveal.css') }}">
  <!--[if IE 7]>
  <link rel="stylesheet" href="style/font-awesome-ie7.css">
  <![endif]-->		
  <link href="{{ url_for('static', filename='style/style.css') }}" rel="stylesheet">
<!-- Color Stylesheet - orange, blue, pink, brown, red or green-->
  <link href="{{ url_for('static', filename='style/blue.css') }}" rel="stylesheet">    
  <link href="{{ url_for('static', filename='style/bootstrap-responsive.css') }}" rel="stylesheet">
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

</head>

<body>

<!-- Header starts -->

<header>
   <div class="container">
      <div class="row">
         <div class="span4">
            <!-- Logo and site link -->
            <div class="logo">
               <a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
            </div>
         </div>
         <div class="span3 offset5">
            <div class="list">
               <!-- Add your phone number here -->
               <div class="phone">
                  <i class="icon-phone"></i> Phone: 0947046064
               </div>
               <hr />
               <!-- Add your email id here -->
               <div class="email">
                  <i class="icon-envelope-alt"></i> Email: giasuchuyenlamson@gmail.com
               </div>
               <hr />
               <!-- Add your address here -->
               <div class="address">
                  <i class="icon-home"></i> Address: P606, N09, Trung Kính, Cầu Giấy, HN
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

<!-- Header ends -->

<!-- Navigation Starts -->

<!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            Menu
          </a>
          <div class="nav-collapse collapse">
            <!-- Navigation links starts here -->
            <ul class="nav">
              <!-- Main menu -->
              <li><a href="{{ url_for('frontend.home') }}">Home</a></li>      
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giới thiệu <b class="caret"></b></a>
                <!-- Submenus -->
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('frontend.aboutls') }}">Trường THPT Chuyên Lam Sơn</a></li>
                  <li><a href="{{ url_for('frontend.about') }}">CLB Gia sư Chuyên Lam Sơn</a></li>                                
                </ul>
              </li>
              <li><a href="{{ url_for('frontend.price') }}">Học phí tham khảo</a></li>
              <li class="dropdown">
              	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gia Sư <b class="caret"></b></a>
              	<ul class="dropdown-menu">
              		<li><a href="{{ url_for('frontend.tutor') }}">Gia sư tiêu biểu</a></li>
              		<li><a href="{{ url_for('frontend.registertutor') }}">Đăng ký làm gia sư</a></li>
              	</ul>
              </li>
              <li><a href="{{ url_for('frontend.classinfo') }}">Danh sách lớp mới</a></li>
              <li><a href="{{ url_for('frontend.contact') }}">Liên hệ</a></li>
            </ul>
            
            <ul class="nav pull-right">
           	  <li><a href="{{ url_for('frontend.document') }}">Tài Liệu</a></li>
           	  <li><a href="http://hoctap.giasuchuyenlamson.com">Góc Học Tập</a></li>
			</ul>
            
          </div>
        </div>
      </div>
    </div>
    
<!-- Navigation Ends -->   

<!-- Content strats -->
{% block content %}
{% endblock %}
<!-- Content ends --> 
	
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">      
      <div class="span12"><p class="copy">
      <!-- Copyright information. You can remove my site link. -->
               Copyright &copy; 2013 LamSon Team. All rights reserved.</p></div>
    </div>
  </div>
</footer>		
  <!-- JS -->
  <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> -->
  <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.isotope.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/filter.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.tweet.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/jquery.cslider.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.28468.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <script  type="text/javascript" src="{{ url_for('static', filename='js/jcarousellite_1.0.1c4.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/admin/jquery.reveal.js') }}"></script>
  <script type="text/javascript">
			$(function() {
			
				$('#da-slider').cslider({
					autoplay	: true,
					interval : 6000
				});
				
				$(".jcarouse").jCarouselLite({  // Lấy class của ul và gọi hàm jCarouselLite() trong thư viện
					//vertical: true,				// chạy theo chiều dọc
					hoverPause:true,			// Hover vào nó sẽ dừng lại
					visible: 3,					// Số bài viết cần hiện
					auto:500,					// Tự động scroll
					speed:4500					// Tốc độ scroll
				});
				
				$(".jcarousels").jCarouselLite({  // Lấy class của ul và gọi hàm jCarouselLite() trong thư viện
					vertical: true,				// chạy theo chiều dọc
					hoverPause:true,			// Hover vào nó sẽ dừng lại
					visible: 3,					// Số bài viết cần hiện
					auto:500,					// Tự động scroll
					speed:4500					// Tốc độ scroll
				});
			
			});
		</script>
  <script>
  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-41182160-1', 'giasuchuyenlamson.com');
  	ga('send', 'pageview');

	</script>	
</body>
</html>