
{% extends "index.html" %}
  
{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Coming soon starts -->
            
            <div class="csoon">
               <div class="row">
                  <div class="span12">
                     <div class="csoon-page">
                        <p class="soon-med">We are on the way...</p>                        
                        <p class="soon-big">Coming Soon<span class="color">!!!</span></p>                        
                        <p class="soon-small">Chuyên mục này đang được hoàn thiện. Nếu có những thắc mắc trong quá trình học tập các bạn có thể trao đổi <a href="http://on.fb.me/15vUcms">tại đây.</a></p>
                     	<img src="static/img/logo.png" />
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- Coming Soon ends -->
            
            
            
         </div>
      </div>
   </div>
</div>   
{% endblock %}
