
{% extends "index.html" %}
  
{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Coming soon starts -->
            
            <div class="csoon">
               <div class="row">
                  <div class="span12">
                     <div class="csoon-page">
                        <p class="soon-med">THÔNG BÁO</p>                        
                        <img src="static/img/logo.png" />                        
                        <p class="soon-small">{{ msg }}</p>
                     		{% if error %}
                     		<p>Bạn có thể đăng kí làm gia sư <a href="/registertutor">tại đây</a></p>
                     		{% endif %}
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- Coming Soon ends -->
            
            
            
         </div>
      </div>
   </div>
</div>   
{% endblock %}
