{% from "macros/_form.html" import render_form %}

{% extends "index.html" %}
  
{% block content %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Process starts -->
            
            <div class="process">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Process hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span class="color">Đăng kí làm gia sư:</span></h3>
                        <!-- para -->
                        <p>Câu lạc bộ Gia Sư Chuyên Lam Sơn đã và đang dần chiếm được lòng tin của các bậc phụ huynh tại Hà Nội. 
                        	Đã có những liên hệ với Câu lạc bộ của các phụ huynh tại Thanh Hóa, tạm thời CLB chưa đáp ứng được, nhưng trong tương lai không xa CLB sẽ phát triển thêm ngay tại quê hương Thanh Hóa.
                        	Hãy cùng chúng tôi tham gia vào CLB</p>
                     </div>
                     
                     <!-- Process steps -->
                     
                     <div class="row">
                        <div class="span3">
                           <!-- Step 1 -->
                           <div class="process-meta"><span>Step 1</span></div>
                           <h4>Yêu Cầu</h4>
                           <p>+ Bạn là cựu học sinh trường THPT chuyên các tỉnh và Hà Nội. <br />+ Bạn đang học tại các trường đại học hàng đầu Việt Nam như Y, Dược, Ngoại Thương, Ngân Hàng, Tài Chính, Bách Khoa, Kinh Tế, Ngoại Ngữ, Sư Phạm...</p>
                           <p>+ Yêu cầu về điểm thi đại học: <br> 
                           	khối A >= 24; 
                           	khối B >= 23; <br>
                           	khối D >= 22; 
                           	khối C >= 21.</p>
                        </div>
                        <div class="span3">
                           <!-- Step 2 -->
                           <div class="process-meta"><span>Step 2</span></div>
                           <h4>Đăng ký</h4>
                           <p>Các bạn đăng kí làm gia sư theo form bên dưới hoặc thông qua trang Facebook của CLB <a href="http://on.fb.me/ZJlfnp">tại đây</a>. Mẫu đăng kí có sẵn trên trang Facebook của CLB.                     
                           </p>                        
                        </div>
                        <div class="span3">
                           <!-- Step 3 -->
                           <div class="process-meta"><span>Step 3</span></div>
                           <h4>Kiểm tra</h4>
                           <p>Thông qua tài khoản Facebook mà bạn đăng ký, CLB sẽ tìm hiểu thông tin cá nhân của bạn. Việc kiểm tra này là bắt buộc để đảm bảo quyền lợi cho phụ huynh và cả các thành viên của CLB.</p>                        
                        </div>
                        <div class="span3">
                           <!-- Step 4 -->
                           <div class="process-meta"><span>Step 4</span></div>
                           <h4>Nhận lớp</h4>
                           <p>Khi có lớp mới, chúng tôi sẽ thông báo trên trang Facebook. Nếu bạn có thể dạy lớp đó hãy liên hệ với chúng tôi. </p>                        
                        </div>                        
                     </div>
                     
                     <hr />
                    
                     
                  </div>
               </div>
            </div>
            
            
            <!-- Service ends -->
            
            
         </div>
      </div>
      <div class="row">
         <div class="span12">
            
            <!-- Contact starts -->
            
            <div class="contact">
               <div class="row">
                  <div class="span12">
                  
                     <!-- Contact hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span class="color">Đăng ký làm gia sư:</span></h3>
                     </div>
                     <!-- Contact -->
                     
                     <div class="contact">
                        <div class="row">
                           <div class="span12">
                              
                           </div>
                        </div>
                        <div class="row">
                           <div class="span6">
                              <div class="cwell">
                                 <!-- Contact form -->
                                    <h5>Mẫu đăng ký:</h5>
                                    <hr />
                                    {% if success %}
    									<div class="flash alert alert-success">Bạn đã gửi yêu cầu thành công.</div>
 
  									{% else %}
                                    	{% for message in form.name.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
										
										{% for message in form.email.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
										
										{% for message in form.mobile.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
										
										{% for message in form.fbacc.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
										
										{% for message in form.college.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
										
										{% for message in form.highschool.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
										
										{% for message in form.subject.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
										
										{% for message in form.descriptions.errors %}
  											<div class="flash alert alert-error">{{ message }}</div>
										{% endfor %}
									{% endif %}
                                    <div class="form">
                                      <!-- Contact form start (not working)-->
                                  	  {{ render_form(url_for('frontend.registertutor'), form)}}
                                      <!-- Contact form end -->
                                    </div>
                                    <hr />
                                    
                                       <div class="csoci">  
                                           <!-- Social media icons -->
                                           <strong>Liên lạc qua:</strong>
                                           <div class="social">
                                                <a href="http://on.fb.me/1355Voh"><i class="icon-facebook"></i></a>
                                                <a href="http://bit.ly/YqZcGE"><i class="icon-google-plus"></i></a>
                                                
                                           </div>
                                       </div>
                                 </div>
                           </div>
                           <div class="span6">
                                 <div class="cwell">
                              <!-- Google maps -->
                              <div class="gmap">
                                 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
                                 <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fgiasuchuyenlamson&amp;width=423&amp;height=390&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:423px; height:390px;" allowTransparency="true"></iframe>
                              </div>
                              
                                    <!-- Address section -->
                                       <h5>Địa chỉ:</h5>
                                       <hr />
                                       <div class="address">
                                           <address>
                                              <!-- Company name -->
                                              <strong>CLB Gia sư chuyên Lam Sơn.</strong><br>
                                              <!-- Address -->
                                              P606, N09, Trung Kính<br>
                                              Q. Cầu Giấy, Hà Nội<br>
                                              <!-- Phone number -->
                                              <abbr title="Phone">M:</abbr> 0947046064.
                                           </address>                                         
                                       </div>
                                 </div>
                           </div>
                        </div>
                        
                     </div>
                     
                  </div>
               </div>
            </div>
                         
            <!-- Service ends -->            
         </div>
      </div>
      <!-- CTA starts -->
            
            <div class="cta">
               <div class="row">
                  <div class="span11">                     
                     <p class="csmall">Sự phát triển của ngày hôm nay, sẽ là cái nôi cho các em học sinh Chuyên Lam Sơn đang ngồi trên ghế nhà trường. Để các thế hệ Lam Sơn luôn nối tiếp có thể truyền thụ kiến thức cho thế hệ sau.
										Để đạt được điều đó, Câu lạc bộ sẽ cố gắng trong từng bước đi và có thêm sự giúp sức của các thành viên Câu lạc bộ.</p>
                  </div>                  
               </div>
            </div>
            
            <!-- CTA Ends -->
   </div>
</div>   

{% endblock %}
