{% from "macros/_pagination.html" import render_pagination %}
{% extends "index.html" %}
  
{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Team starts -->
            
            <div class="about">
               <div class="row">
                  <div class="span9">
                  
                     <!-- Team hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span class="color">Đội ngũ gia sư:</span></h3>
                     </div>
                     <!-- Our team -->
                     
                     <!-- Teams -->
                     
                     <div class="teams">
                        <div class="row">
                        {% for tutor in tutors %}	
                           <div class="span9">
                           	<div class="row">
                              <!-- Staff #1 -->
                              <div class="span2">
                              <div class="staff">
                                 <!-- Picture -->
                                 <div class="pic">
                                    <img  class="img_tutor" src="{{ url_for('static', filename=tutor.urlimg) }}" />
                                 </div>
                                 <!-- Details -->
                                 <div class="details">
                                    <!-- Name and designation -->
                                    <div class="desig pull-left">
                                       <p class="name">{{ tutor.name }}</p>
                                       <em>{{ tutor.subjects|join(', ') }}</em>
                                    </div>
                                    <!-- Social media details. Replace # with profile links -->
                                    <div class="clearfix"></div>
                                 </div>                                 
                              </div>
                              </div>
                              <div class="span7">
                              	<p>Trường đang học: {{ tutor.college }}</p> <br>
                              	<p>Thành tích: {{ tutor.descriptions }}</p>
                              </div>
                             </div>
                             <hr />
                           </div> 
                                                                               
                           {% endfor %}                           
                         </div>
                         <div class="row">
                           <!-- Pagination --> 
                           <div class="form">
                             <!-- Contact form start (not working)-->
                         	  {{ render_pagination(pagination) }}
                           <!-- Contact form end -->
                           </div>                          
                                                     
                        </div>
                        
                                                
                     </div>
                     
                  </div>
                  <!-- Support Online -->
                  <div class="span3">
                    <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Hỗ trợ trực tuyến:</span></h3>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?cloud_hai"><img src="http://opi.yahoo.com/online?u=cloud_hai&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Nguyễn Hoàng Hải</b> <br />
                     	<b>0126 586 6886</b>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?hoangtu_banggia_2005"><img src="http://opi.yahoo.com/online?u=hoangtu_banggia_2005&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Nguyễn Hồng Quân</b> <br />
                     	<b>0165 606 4263</b>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?lukesky_84"><img src="http://opi.yahoo.com/online?u=lukesky_84&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Hoàng Tuấn Anh</b> <br />
                     	<b>0947 046 064</b>
                     </div>
                  </div>
               </div>
            </div>
            
            <!-- About ends -->
            
         </div>
      </div>
   </div>
</div>
{% endblock %}
