{% extends "admin/admin.html" %}
  
{% block pagecontent %}
<div class="space-6"></div>

<div>
	{%if message %}
		<p> {{ message }}</p>
	{% endif %}
</div>

<div class="row-fluid">
						<!--PAGE CONTENT BEGINS HERE-->

						<form class="form-horizontal" action="/addtutor" method="post">
							<div class="control-group">
								<label class="control-label" for="form-field-1">Mã gia sư</label>

								<div class="controls">
									<input type="text" id="form-field-1" name="tutorid"/>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-2">Họ tên</label>

								<div class="controls">
									<input type="text" id="form-field-2" name="name"/>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Môn học đăng ký</label>

								<div class="controls">
									<label>
										<input name="subjects" type="checkbox" value="Toán" />
										<span class="lbl"> Toán Học</span>
									</label>

									<label>
										<input name="subjects" type="checkbox" value="Lý" />
										<span class="lbl"> Vật Lý</span>
									</label>

									<label>
										<input name="subjects" type="checkbox" value="Hóa" />
										<span class="lbl"> Hóa Học</span>
									</label>
									
									<label>
										<input name="subjects" type="checkbox" value="Sinh" />
										<span class="lbl"> Sinh Học</span>
									</label>
									
									<label>
										<input name="subjects" type="checkbox" value="Anh" />
										<span class="lbl"> Tiếng Anh</span>
									</label>
									
									<label>
										<input name="subjects" type="checkbox" value="Văn" />
										<span class="lbl"> Văn Học</span>
									</label>
									
									<label>
										<input name="subjects" type="checkbox" value="Sử" />
										<span class="lbl"> Lịch Sử</span>
									</label>
									
									<label>
										<input name="subjects" type="checkbox" value="Địa" />
										<span class="lbl"> Địa Lý</span>
									</label>
									
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-3">Email</label>

								<div class="controls">
									<input type="text" id="form-field-3" name="email" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-4">Số ĐT</label>

								<div class="controls">
									<input type="text" id="form-field-4" name="mobile" placeholder="Ex: 0987654321" />
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="form-field-5">Facebook</label>

								<div class="controls">
									<input type="text" name="facebook" id="form-field-5" />									
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-7">Trường đang học:</label>

								<div class="controls">
									<input type="text" id="form-field-7" placeholder="Ex: Bách Khoa Hà Nội" name="college"/>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-6">Thành tích:</label>

								<div class="controls">
									<textarea class="ace-tooltip" name="descriptions" id="form-field-6" placeholder="Ex: HCV..." data-placement="bottom" ></textarea>									
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="classstatus">Giới tính</label>
								<div class="controls">
									<select id="classstatus" name="adults">														
										<option value="male">Nam</option>
										<option value="female">Nữ</option>										
									</select>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">CLC</label>

								<div class="controls">
									<label>
										<input name="clc" type="radio" value="Yes" />
										<span class="lbl"> Yes</span>
									</label>

									<label>
										<input name="clc" type="radio" value="No" />
										<span class="lbl"> No</span>
									</label>
									
								</div>
							</div>
							
							<div class="form-actions">
								<button class="btn btn-info" type="submit">
									<i class="icon-ok bigger-110"></i>
									Submit
								</button>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset">
									<i class="icon-undo bigger-110"></i>
									Reset
								</button>
							</div>
						</form>

						<!--PAGE CONTENT ENDS HERE-->
					</div>
{% endblock %}