{% extends "admin/admin.html" %}
  
{% block pagecontent %}
<div class="space-6"></div>

<div>
	{%if message %}
		<p> {{ message }}</p>
	{% endif %}
</div>

<div class="row-fluid">
						<!--PAGE CONTENT BEGINS HERE-->

						<form class="form-horizontal" action="/createclass" method="post">
							<div class="control-group">
								<label class="control-label" for="form-field-1">Mã lớp</label>

								<div class="controls">
									<input type="text" id="form-field-1" name="classid"/>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Môn học</label>

								<div class="controls">
									<label>
										<input name="subject" type="radio" value="Toán" />
										<span class="lbl"> Toán Học</span>
									</label>

									<label>
										<input name="subject" type="radio" value="Lý" />
										<span class="lbl"> Vật Lý</span>
									</label>

									<label>
										<input name="subject" type="radio" value="Hóa" />
										<span class="lbl"> Hóa Học</span>
									</label>
									
									<label>
										<input name="subject" type="radio" value="Anh" />
										<span class="lbl"> Tiếng Anh</span>
									</label>
									
									<label>
										<input name="subject" type="radio" value="Văn" />
										<span class="lbl"> Văn Học</span>
									</label>
									
									<label>
										<input name="subject" type="radio" value="Sử" disabled/>
										<span class="lbl"> Lịch Sử</span>
									</label>
									
									<label>
										<input name="subject" type="radio" value="Địa" disabled/>
										<span class="lbl"> Địa Lý</span>
									</label>
									
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-select-1">Trình độ học sinh:</label>
								<div class="controls">
									<select id="form-field-select-1" name="level">														
										<option>Lớp 1</option>
										<option>Lớp 2</option>
										<option>Lớp 3</option>
										<option>Lớp 4</option>
										<option>Lớp 5</option>
										<option>Lớp 6</option>
										<option>Lớp 7</option>
										<option>Lớp 8</option>
										<option>Lớp 9</option>
										<option>Lớp 10</option>
										<option>Lớp 11</option>
										<option>Lớp 12</option>
										<option>Khác</option>
									</select>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="form-field-2">Phụ huynh</label>

								<div class="controls">
									<input type="text" id="form-field-2" name="parents" />
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-3">Số ĐT</label>

								<div class="controls">
									<input type="text" id="form-field-3" name="mobile" placeholder="Ex: 0987654321" />
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="form-field-4">Địa chỉ:</label>

								<div class="controls">
									<textarea class="ace-tooltip" name="address" id="form-field-4" placeholder="Ex: Thanh Xuân, Hà Nội" data-placement="bottom" ></textarea>									
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="form-field-5">Học phí</label>

								<div class="controls">
									<input class="ace-tooltip" type="text" name="fee" id="form-field-5" placeholder="Ex: 120, 150..." data-placement="bottom" />
									<span class="help-inline">K / buổi</span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-6">Mức phí</label>

								<div class="controls">
									<input class="ace-tooltip" name="pay" type="text" id="form-field-6" placeholder="Ex: 30, 35..." data-placement="bottom" />
									<span class="help-inline">%</span>									
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-7">Thời gian:</label>

								<div class="controls">
									<input type="text" id="form-field-7" placeholder="số buổi 1 tuần" name="time"/>
									<span class="help-inline">buổi/tuần</span>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-6">Yêu cầu:</label>

								<div class="controls">
									<textarea class="ace-tooltip" name="require" id="form-field-6" placeholder="Ex: Gia sư nữ..." data-placement="bottom" ></textarea>									
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="classstatus">Tình trạng lớp</label>
								<div class="controls">
									<select id="classstatus" name="status" onChange="findselected()">														
										<option value="processing">Processing</option>
										<option value="waiting">Waiting</option>										
										<option value="cancelled">Cancelled</option>
										<option value="paid">Paid</option>										
									</select>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="classfortutor">Người nhận</label>

								<div class="controls">
									<input type="text" id="classfortutor" placeholder="nhập mã gia sư" name="tutorid"/>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label" for="form-field-6">Ghi chú:</label>

								<div class="controls">
									<textarea class="ace-tooltip" name="note" id="form-field-6" placeholder="Ex: Lớp đã thanh toán..." data-placement="bottom" ></textarea>									
								</div>
							</div>

							<div class="form-actions">
								<button class="btn btn-info" type="submit">
									<i class="icon-ok bigger-110"></i>
									Submit
								</button>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset">
									<i class="icon-undo bigger-110"></i>
									Reset
								</button>
							</div>
						</form>

						<!--PAGE CONTENT ENDS HERE-->
					</div>
{% endblock %}