{% extends "admin/admin.html" %}
  
{% block pagecontent %}

<div class="space-6"></div>

<div class="row-fluid">
	<div class="span12 infobox-container">
		<div class="infobox infobox-green  ">
			<div class="infobox-icon">
				<i class="icon-user"></i>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number">{{ count_tutors }}</span>
				<div class="infobox-content">Tổng số gia sư</div>
			</div>									
		</div>

		<div class="infobox infobox-blue  ">
			<div class="infobox-icon">
				<i class="icon-home"></i>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number">{{ count_class }}</span>
				<div class="infobox-content">Tổng số lớp</div>
			</div>
		</div>	

		<div class="infobox infobox-red">
			<div class="infobox-icon">
				<i class="icon-exclamation-sign"></i>
			</div>

			<div class="infobox-data">
				<span class="infobox-data-number">{{ count_class_empty }}</span>
				<div class="infobox-content">Lớp chưa có người nhận</div>
			</div>
		</div>
	</div>
</div><!--/row-->
						
			<div class="row-fluid">
				<h3 class="header smaller lighter blue">Danh sách lớp</h3>
				<p> 
					<span class="label label-success">Paid</span>: Lớp đã giao và thanh toán.
					<span class="label label-warning">Waiting</span>: Lớp chưa có người nhận
					<span class="label label-info">Processing</span>: Lớp đã giao nhưng chưa thu tiền hoặc PH chưa xếp lịch
					<span class="label label-important">Cancelled</span>: Lớp bị hủy
				</p>
					<table id="table_report" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">Mã lớp</th>
										<th class="center">Môn học</th>
										<th>Trình độ</th>
										<th>Phụ huynh</th>
										<th>Mobile</th>
										<th>Địa chỉ</th>
										<th>Status</th>
										<th>Người nhận</th>
										<th>Ghi chú</th>
										<th>Actions</th>
									</tr>
								</thead>

								<tbody>
									{% for classes in classinfo %}
									<tr>
										<td class="center">
											{{ classes.classid }}
										</td>
										
										<td class="center">
											{{ classes.subject }}
										</td>

										<td> {{ classes.level }} </td>
											
										<td> {{ classes.parents }}</td>
										<td class="hidden-480"> {{ classes.mobile }} </td>
										<td class="hidden-phone">{{ classes.address }}</td>
										
										{% if classes.status == "paid" %}

										<td class="hidden-480">
											<span class="label label-success">Paid</span>
										</td>
										{% elif classes.status == "waiting" %}
										<td class="hidden-480">
											<span class="label label-warning">Waiting</span>
										</td>
										{% elif classes.status == "processing" %}
										<td class="hidden-480">
											<span class="label label-info">Processing</span>
										</td>
										{% else %}
										<td class="hidden-480">
											<span class="label label-important">Cancelled</span>
										</td>
										{% endif %}
										<td> {{ classes.tutorid }} </td>
										<td> {{ classes.note }} </td>
										<td class="td-actions">
											<a href="#" data-reveal-id="myModal">Edit</a> |
											<a href="#">Delete</a>
											<div id="myModal" class="reveal-modal">
     										<h3>Edit class</h3>
     										<form action="/editclass" method="post">
     										<input class="input-mini" type="text" value="{{ classes.classid }}" name="classid" readonly>
     										<select class="input-medium" id="classstatus" name="status" >														
													<option value="processing">Processing</option>
													<option value="waiting">Waiting</option>										
													<option value="cancelled">Cancelled</option>
													<option value="paid">Paid</option>										
												</select> 
     										<input class="input-large" type="text" placeholder="Người nhận" name="tutorid"> <br/>
     										<button type="submit" class="btn">Submit</button>
     										</form>
     										<a class="close-reveal-modal">&#215;</a>
											</div>											
										</td>
									</tr>
									{% endfor %}

								</tbody>
							</table>							
						</div>
						
						
						
						
			<div class="row-fluid">
				<h3 class="header smaller lighter blue">Danh sách gia sư</h3>
				<table id="table_report" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">Mã gia sư</th>
										<th class="center">Họ tên</th>
										<th>Email</th>
										<th>Facebook</th>
										<th>Mobile</th>
										<th>Adults</th>
										<th>Môn học đăng kí</th>
										<th>Trường đang học</th>
									</tr>
								</thead>

								<tbody>
									{% for tutor in tutors %}
									<tr>
										<td class="center">
											{{ tutor.tutorid }}
										</td>
										
										<td class="center">
											{{ tutor.name }}
										</td>

										<td> {{ tutor.email }} </td>
											
										<td> {{ tutor.facebook }}</td>
										<td class="hidden-480"> {{ tutor.mobile }} </td>
										<td class="hidden-phone">{{ tutor.adults }}</td>		
										<td>|{% for subject in tutor.subjects %}
										 			{{ subject }}|
												{% endfor %}
										</td>
										<td> {{ tutor.college }} </td>										
									</tr>
									{% endfor %}

								</tbody>
							</table>
						</div>
						

{% endblock %}