{% extends "admin/admin.html" %}
  
{% block pagecontent %}
<div>
<div class="control-group">
								<label class="control-label" for="form-field-1">Mã lớp</label>

								<div class="controls">
									<input type="text" id="form-field-1" placeholder="Ex: 1301, 1302" name="id"/>
								</div>
							</div>
<div class="form-actions">
								<button class="btn btn-info" type="submit">
									<i class="icon-ok bigger-110"></i>
									Delete
								</button>

								&nbsp; &nbsp; &nbsp;
							</div>
			</div>
{% endblock %}
