{% extends "base.html" %}
  
{% block content %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- About starts -->
            
            <div class="about">
               <div class="row">
                  <div class="span12">
                  
                     <!-- About hero -->
                     <div class="about-hero">
                        <p><span class="hightlight">Trường THPT chuyên Lam Sơn mang tên cuộc khởi nghĩa vĩ đại bậc nhất của nhân dân Việt Nam vào đầu thế kỷ XV chống quân xâm lược nhà Minh - Giải phóng đất nước do người anh hùng dân tộc kiệt xuất Lê Lợi lãnh đạo. Trường THPT chuyên Lam Sơn ngày nay là sự kế tục và phát triển từ Trường Trung học Thanh Hoá (Collège de Thanh Hoá) thành lập năm 1931, Collège Đào Duy Từ(1943-1950) . Từ năm 1950, trường mới mang tên Lam Sơn.</span>
						<div align="center"><img class="piclamson" src="{{ url_for('static', filename='img/photos/lamsonpic1.jpg') }}" alt="image01" /> </div> <br />
						1. <b><u>Lịch sử hình thành và phát triển.</u></b> <br />
						Trước Cách mạng Tháng Tám, dưới ách thống trị của thực dân phong kiến quy mô và nhịp độ phát triển của Nhà trường nhỏ bé và chật hẹp. Suốt 14 năm tồn tại dưới chế độ cũ, Nhà trường chỉ có khoảng 600 học sinh, tổng số thầy cô giáo không quá 20 người. Mục tiêu của Nhà trường lúc đó không gì khác hơn là đào tạo những người phục vụ trung thành cho nhà nước bảo hộ thực dân. Nhưng vượt qua mọi ràng buộc của nền giáo dục thực dân, từ trong lòng của nhà trường Collège de Thanh Hoá, lớp học sinh ưu tú đã thức tỉnh, tiếp thu ánh sáng cách mạng của Đảng, chịu ảnh hưởng trực tiếp của phong trào đấu tranh cách mạng của nhân dân Thanh Hoá, đã phát huy tinh thần yêu nước, ý chí đấu tranh cách mạng và trực tiếp tham gia cách mạng như các anh Thôi Hữu, Trần Mai Ninh....Tinh thần yêu nước, ý chí cách mạng bùng lên từ những năm trước cách mạng, được các thế hệ học sinh Lam Sơn kế tục, phát huy thành một truyền thống đẹp đẽ cao quý trong suốt gần 8 thập kỷ tồn tại và phát triển của Nhà trường. Cách mạng tháng Tám thành công. Đất nước được giải phóng, nhân dân được tự do. Nhà trường được cởi bỏ xiềng xích nô lệ đã nhanh chóng phát triển và thực sự trở thành một trong những trung tâm đào tạo nhiều thế hệ con người mới, đóng góp tích cực cho sự nghiệp cách mạng của nhân dân ta. Với 64 năm xây dựng và phát triển dưới chế độ XHCN, trường Lam Sơn đã bám sát nhiệm vụ chính trị cuả Đảng qua từng giai đoạn đấu tranh cách mạng, vận dụng sáng tạo nguyên lý, phương châm giáo dục của Đảng, đặc biệt là Nghị quyết Trung ương II( Khoá VIII) và Nghị quyết Đại hội IX của Đảng, hoàn thành xuất sắc nhiệm vụ chính trị của mình. Mỗi bước trưởng thành của Nhà trường gắn liền với sự nghiệp đấu tranh cách mạng của đất nước nói chung và tỉnh Thanh Hoá nói riêng. Từ mái trường Lam Sơn thân yêu, hàng vạn học sinh thuộc các thế hệ đã và đang đóng góp có hiệu quả cho sự nghiệp đấu tranh giải phóng dân tộc và xây dựng CNXH. Những năm kháng chiến chống Pháp, chống Mỹ, trong hoàn cảnh Nhà trường sơ tán(1947-1954: vùng Cốc-Thọ Xuân;1965-1969:Đông Văn-Đông Sơn; 1972-1973: Đồng Tiến-Triệu Sơn), thầy cô giáo và học sinh Lam Sơn đã vượt qua mọi khó khăn gian khổ, vẫn duy trì phong trào thi đua dạy tốt, học tốt và tích cực tham gia vào sự nghiệp kháng chiến của toàn dân tộc. Hàng nghìn học sinh và các thâỳ cô giáo thuộc nhiều thế hệ đã trực tiếp lên đường đi chiến đấu, tập trung là các thời kỳ 1947-1948, 1972-1973. 
						<div align="center"><img class="piclamson" src="{{ url_for('static', filename='img/photos/lamsonpic2.jpg') }}" alt="image01" /> </div> <br />
						Ngày nay không ít người vẫn đang tiếp tục chiến đấu, công tác trong quân đội và trở thành các tướng lĩnh, các cán bộ trung cao cấp, những anh hùng quân đội, anh hùng lao động. Thầy giáo và học sinh Lam Sơn kế tiếp nhau qua từng giai đoạn ngày nay đã trưởng thành, trở thành những cán bộ lãnh đạo của Đảng và Nhà nước, cán bộ chủ chốt hoạt động trên nhiều lĩnh vực: chính trị, kinh tế, khoa học, văn hoá, giáo dục, nghệ thuật. Tiêu biểu như các thầy Nguyễn Trác- Giáo sư Văn học, Đinh Xuân Lâm-Giáo sư Sử học, Trịnh Ngọc Thái- Giáo sư Toán học, Lê Hải Châu-Giáo sư Toán học, Vũ Ngọc Khánh - Giáo sư Văn học, Võ Quý- Giáo sư Sinh học, NGƯT Cao Hữu Nhu, Thầy Vũ Lê Thống, ... 
						Nhiều nhà cách mạng, nhà khoa học có tên tuổi, các vị tướng lĩnh, các cán bộ cao cấp của Đảng và Nhà nước như: Trần Mai Ninh, Thôi Hữu, Lê Văn Giạng, Phan Diễn, Nguyễn Văn Hiệu, Vũ Tuyên Hoàng, Nguyễn Dy Niên, Đỗ Nguyên Phương, Lương Ngọc Toản, Đoàn Quỳnh, Trần Quốc Vượng, Nguyễn Khắc Dương, Nguyễn Quang Hà, Nguyễn Nghiêm Minh, Lê Văn Truyền, Bùi Ngọc Thanh, Hoàng Văn Huây, Nguyễn Văn Ngạnh, .... đã từng là học sinh của trường. <br />
						2. <b><u>Thế hệ học sinh Lam Sơn.</u></b> <br />
						Thế hệ học sinh Lam Sơn hôm nay, kế thừa truyền thống tốt đẹp của các thế hệ cha anh đi trước, đã và đang tô thắm thêm cho mái trường thân yêu bằng kết quả học tập rèn luyện, lao động sáng tạo của mình. Trong 15 năm gần đây, trường THPT Lam Sơn liên tục là trường tiên tiến cấp tỉnh. Mặc dù còn gặp nhiều khó khăn, nhưng thầy và trò trường Lam Sơn đã nỗ lực vươn lên hoàn thành xuất sắc nhiệm vụ được giao. Từ năm 1982 đến nay trường liên tục giành nhiều giải trong các kỳ thi học sinh giỏi Quốc gia và Quốc tế. Trong 15 năm gần đây, Lam Sơn tự hào là một trong số rất ít các trường chuyên của cả nước thường xuyên dẫn đầu về số lượng và chất lượng giải Quốc gia, Quốc tế hàng năm. 
						<div align="center"><img class="piclamson" src="{{ url_for('static', filename='img/photos/lamsonpic3.jpg') }}" alt="image01" /> </div><br />
						Trên nền tảng giáo dục toàn diện, tính cho đến năm học 2009-2010 Nhà trường đã có 1165 học sinh đoạt giải Quốc gia (trong đó có 61 giải nhất). Đặc biệt Nhà trường đã có 32 học sinh dự thi Olympic Quốc tế ở 5 môn Toán, Vật lý, Hoá học, Tin, Sinh học, trong đó có 24 học sinh đoạt giải (3 Huy chương vàng, 9 Huy chương bạc, 9 Huy chương đồng, 3 giải khuyến khích), có 5 học sinh đoạt giải Quốc tế khu vực trong các kỳ thi Olympic Toán Quốc tế Khu vực châu A -Thái Bình Dương ( 3 HCĐ, 2giải KK), có 4 học sinh đoạt giải Olympic Vật lý Quốc tế khu vực Châu A ( 2 HCB, 1 Huy chương Đồng, 1 giải KK ). Đặc biệt ở môn Toán có 13 học sinh dự thi Olympic Toán Quốc tế thì cả 13 em đều đoạt giải(3HCV, 6HCB, 4HCĐ). <br />
						Nhiều tấm gương học sinh xuất sắc như : Nguyễn Thúc Anh, Nguyễn Văn Quang, Phạm Hưng, Vũ Xuân Hạ, Đỗ Ngọc Minh, Ngô Diên Hy, Bùi Anh Văn, Cao Văn Hạnh, Nguyễn Duy Hùng, Nguyễn Như Thông, Bùi Thanh Vân, Vũ Thị Lan Hương, Đào Vĩnh Ninh, Đỗ Quang Yên, Nguyễn Thành Vinh, Nguyễn Phi Lê, Lê Đình Hùng, Lê Tuấn Anh, Tống Văn Trọng (HCĐ quốc tế đầu tiên của Thanh Hoa về môn Vật lý), Nguyễn Xuân Tùng, Lê Ngọc Anh, Hoàng Đức Ý, Nguyễn Thị Như Quỳnh, Hoàng Ngọc Hưng, Nguyễn Thanh Bình, Nguyễn Hoành Đạo...mãi mãi là niềm tự hào của nhà trường.  <br />
						<b> Có hai thầy giáo và ba học sinh được tặng Giải thưởng Toán học Lê Văn Thiêm (năm 1999; 2000 và năm 2008). <br /> 
						-Học sinh Đỗ Quang Yên Huy chương Bạc Olympic toán Quốc tế lần thứ 39 ( năm 1998) tại Đài loan, Huy chương Vàng Olympic toán Quốc tế lần thứ 40 ( năm 1999) tại Rumani, được bình chọn là 1 trong 10 gương mặt trẻ Việt Nam tiêu biểu năm 1999. <br /> 
						-Học sinh Nguyễn Thành Vinh giải nhì cuộc thi“ Đường lên đỉnh Olympia”năm 2000, Huy chương bạc kỳ thi Olympic Hoá học Quốc tế lần thứ 32 tổ chức tại Đan Mạch. <br />
						-Học sinh Nguyễn Phi Lê (nữ) đoạt Huy chương Bạc kỳ thi Olympic Toán Quốc tế lần thứ 41 tổ chức tại Hàn Quốc (năm 2000), Giải thưởng Toán học Lê Văn Thiêm 2000, được bình chọn là 1 trong 10 gương mặt trẻ Việt Nam tiêu biểu năm 2000. <br /> 
						-Học sinh Hoàng Đức Ý, Huy chương vàng Toán quốc tế tại Tây Ban Nha năm 2008. Giải thưởng Toán học Lê Văn Thiêm 2008. Được bình chọn là 1 trong 10 gương mặt trẻ Việt Nam tiêu biểu năm 2008. <br />
						-Học sinh Lê Ngoc Anh, Huy chương vàng Toán quốc tế tại Tây Ban Nha năm 2008. <br />
						-Học sinh Nguyễn Thị Như Quỳnh, HCĐ quốc tế Sinh học tại Nhật Bản năm 2009, <br />
						-Hoàng Ngọc Hưng HCĐ quốc tế môn Tin học tại Bulgaria năm 2009. Đây cũng là hai HC đầu tiên của Thanh Hóa ở hai bộ môn Sinh học và Tin học. <br /> 
						-Học sinh Nguyễn Đức Bình thi Hóa quốc tế tại Nhật Bản năm 2010; <br />
						-Học sinh Nguyễn Hoành Đạo thi Lý quốc tế tại Croatia năm 2010. <br /> </b>
						<div align="center"><img class="piclamson" src="{{ url_for('static', filename='img/photos/lamsonpic4.jpg') }}" alt="image01" /> </div><br />
						Quan tâm đào tạo chất lượng mũi nhọn nhưng Nhà trường vẫn luôn luôn chú trọng đến chất lượng giáo dục toàn diện. Việc đầu tiên mỗi khi học sinh trúng tuyển vào Lam Sơn là được giáo dục về truyền thống Nhà trường; xây dựng cho các em động cơ học tập đúng đắn, học thật giỏi vì ngày mai lập thân lập nghiệp. Hàng năm trường có 97% số học sinh xếp loại hạnh kiểm tốt, chỉ có 3% số học sinh xếp loại hạnh kiểm khá. Trong 8 năm gần đây số học sinh giỏi của Nhà trường tăng từ 34% lên 63 %. Số học sinh tốt nghiệp THPT đạt 100%, trong đó 45% xếp loại giỏi, 85% khá giỏi. Hàng năm Nhà trường có từ 90% trở lên số học sinh thi đậu vào các trường Đại học và Cao đẳng, nhiều em đậu thủ khoa. Học Sinh Đỗ Văn Mạnh đạt điểm tuyệt đối 31/30 trong kỳ thi vào đại học xây dựng Hà Nội năm học 2003-2004. <br /> 
						3. <b><u>Những thành tích đã đạt được</u></b> <br />
						Trường THPT chuyên Lam Sơn được ví như là viên ngọc sáng trong chuỗi ngọc các trường chuyên, có thành tích nổi bật trong cả nước về kết quả đào tạo học sinh giỏi Quốc gia và Quốc tế, là cái nôi đào tạo nhân tài cho quê hương và đất nước. Đó là kết quả của sự cố gắng nỗ lực rất cao của các thầy cô giáo, sự cần cù ham học của học sinh, được sự quan tâm chỉ đạo sát sao của các cấp lãnh đạo đặc biệt là Tỉnh uỷ, UBND tỉnh, Sở GD- ĐT. <br />
						- Trường được UBND tỉnh tặng cờ thi đua: “ Đơn vị thi đua xuất sắc dẫn đầu ngành học phổ thông” trong 2 năm liên tục 1997-1998 và 1998-1999, <br /> 
						- Nhà nước tặng thưởng Huân chương Độc lập hạng Ba vào ngày 19-11-1999, được Thủ tướng Chính phủ tặng cờ “ Đơn vị dẫn đầu phong trào thi đua năm 1999”. <br />
						- Đặc biệt ngày 23-9-2000 Chủ tịch nước CHXHCN Việt Nam ký Quyết định số 442KT/CTN Phong tặng danh hiệu “ Anh hùng Lao động” trong thời kỳ đổi mới cho trường THPT Lam Sơn. <br />
						- Năm học 2004-2005 đạt danh hiệu tập thể lao động xuất sắc. Được UBND tỉnh tặng Cờ thi đua đơn vị dẫn đầu khối trường THPT; QĐ số 4008/QĐ-UBND ngày 26/12/2005. <br />
						- Năm học 2005-2006 đạt danh hiệu tập thể xuất sắc được Bộ Giáo dục-Đào tạo tặng Bằng khen; QĐ số 1657/QĐ-TTg ngày 19/12/2006. <br /> 
						- Năm học 2006-2007 đạt danh hiệu tập thể lao động xuất sắc được Bộ Giáo dục-Đào tạo tặng Bằng khen; QĐ số3935/QĐ-BGD&ĐT ngày 31/7/2007. <br />
						- Năm học 2007-2008 đạt tập thể lao động xuất sắc được UBND tỉnh tặng Cờ thi đua đơn vị dẫn đầu khối trường THPT công lập; QĐ số 2355/QĐ-UBND ngày 01/8/2008. Được công nhận trường đạt chuẩn quốc gia, Quyết định số 690/QĐ-UBND ngày 25/3/2008. <br />
						- Năm học 2008-2009 trường được HĐTĐ ngành GD&ĐT đề nghị tặng cờ thi đua của Chính phủ và tặng Huân chương Độc lập hạng Nhì. <br />
						- Năm học 2007-2008; 2008-2009 trường được Bộ Trưởng Bộ GD&ĐT tặng Bằng khen. <br />
						- Năm học 2008-2009: trường được tặng Bằng khen của UBND tỉnh và Bằng khen của Thủ tướng Chính phủ <br />
						<div align="center"><img class="piclamson" src="{{ url_for('static', filename='img/photos/lamsonpic5.jpg') }}" alt="image01" /> </div><br />
						Để có được những thành tích đó, Nhà trường đã vượt qua những khó khăn về CSVC, không ngừng vươn lên đáp ứng yêu cầu ngày càng cao trong giáo dục. Yếu tố đầu tiên mà Nhà trường quan tâm là xây dựng đội ngũ những người thầy - nhân tố quyết định chất lượng giáo dục. Lam Sơn tự hào vì có đội ngũ thầy cô giáo giầu trí tuệ, giỏi về chuyên môn và tâm huyết với nghề nghiệp. Trong số 119 thầy cô giáo của Nhà trường thì đã có 55 thầy cô giáo có học sinh giỏi Quốc gia, 10 thầy giáo có học sinh giỏi đoạt giải Olympic Quốc tế. Có 7 thầy cô giáo được tặng Bằng Lao động sáng tạo của Tổng Liên đoàn Lao động Việt Nam. Có một thầy giáo được Nhà nước phong tặng danh hiệu cao quý “Nhà giáo Nhân dân”, 8 thầy giáo được Nhà nước phong tặng danh hiệu “Nhà giáo ưu tú” . 06 thầy giáo được Nhà nước tặng thưởng Huân chương Lao động, 20 thầy giáo được Thủ tướng Chính phủ tặng Bằng khen, hai thầy giáo được tặng giải thưởng Toán học Lê Văn Thiêm. Một thầy giáo được công nhận là chiến sĩ thi đua toàn quốc. Một thầy giáo được tặng giải Viphotec. Có thầy giỏi mới có trò giỏi. Trò càng giỏi thì thầy càng phải cố gắng vươn lên. Nhiều tấm gương của các thầy cô giáo đã làm rạng danh thêm cho truyền thống Nhà trường như thầy Phạm Ngọc Quang,Nguyễn Anh Dũng, Ngô Anh Dũng, Kim Ngọc Chính, Lưu Xuân Tình, Nguyễn Văn Hưng, Lê Văn Vinh, Lê Văn Hoành, Lê Văn Quỳnh, Cao Giang, Hoàng Văn Giao(S), Vũ Ngọc Khôi, Phạm Gia Mạnh, Vũ Bình , Lê Huy Hiếu,Vũ Hùng Biên, Phạm Thế Hiệu , Ngô Văn Cưu, Nguyễn Thị Minh Kim, Trịnh Văn Hoa, Trịnh Thị Lan Anh, Nghiêm Quang Khải....<br />
 						Nhìn lại chặng đường gần 80 năm xây dựng và phát triển của Nhà trường, Trường THPT chuyên Lam Sơn tự hào về truyền thống tốt đẹp đã được nhiều thế hệ thầy giáo và học sinh Lam Sơn dày công vun đắp, nổi bật là: <br />
 						* Dạy tốt, học tốt. * Yêu nước, yêu CNXH và tích cực tham gia có hiệu quả vào sự nghiệp đấu tranh cách mạng của dân tộc. Kế thừa truyền thống tốt đẹp và thành tựu rất đáng tự hào của Nhà trường, đội ngũ thầy giáo và học sinh Lam Sơn hôm nay đang quyết tâm phấn đấu, xây dựng Nhà trường lớn mạnh về mọi mặt xứng đáng với tầm vóc của một Nhà trường có bề dày lịch sử truyền thống và vị trí trung tâm của sự nghiệp giáo dục Thanh Hoá .
						</p>
                     </div>
				  </div>
			   </div>
			</div>
            <!-- About ends -->
                    
         </div>
      </div>
   </div>
</div>   

{% endblock %}