{% extends "base.html" %}
  
{% block content %}

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Resume starts -->
            
            <div class="resume">
               <div class="row">
                  <div class="col-md-12">
                     <h2>Miễn phí<span class="rsmall"><span class="color">:</span> Khoá học bồi dưỡng văn đặc biệt</span></h2>
                     <p>Sau một thời gian dài kiểm tra, sàng lọc, câu lạc bộ đã lựa chọn những bạn gia 
                     sư có thành tích giảng dạy, học tập xuất sắc, nhận được những phản hồi tích cực, 
                     có ý thức và tinh thần trách nhiệm cao để mở các lớp dạy theo chương trình đặc 
                     biệt dựa trên định hướng : " Lấy tự học làm gốc, đề cao tinh thần của người học , 
                     cốt lõi của việc học là TƯ DUY “</p>
                     <hr />
                     <!-- Resume -->
                     
                     <div class="row">
                        <div class="span12">
                        
                           <!-- About -->
                           <div class="rblock">
                              <div class="row">
                                 <div class="span3">
                                    <h4>Giáo viên</h4>                            
                                 </div>
                                 <div class="span9">
                                    <div class="rinfo">
                                       <h5>Dương Thị Hằng</h5>
                                       <div class="rmeta">SV chuyên ngành Kinh tế đối ngoại Đại Học Ngoại Thương, Hà Nội.</div>
                                       <p> Thành tích nổi bật:</p>
                                           <ul>
                                               <li>Giải nhất tỉnh môn Văn năm lớp 12</li>
                                               <li>Giải ba Quốc gia môn Ngữ Văn (Lớp 11, Lớp 12)</li>
                                               <li>Đạt thành tích tốt tại Đại học ngoại thương.</li>
                                               <li>Các tác phẩm truyện ngắn, tùy bút, thơ, tản mạn đăng trên Báo Thanh Niên, Phụ nữ Việt Nam, Hoa học trò, Thiếu niên tiền phong,...</li>
                                               <li>Giải thưởng các cuộc thi viết truyện ngắn dành cho lứa tuổi thanh thiếu niên, cây viết trẻ trên toàn quốc.</li>
                                               <li>Tác giả của các cuốn sách “Miền cát trắng mù sương” (tập truyện ngắn) và “Hình như là mưa ngâu” (tập truyện ngắn)</li>
                                               <li>Kinh nghiệm : 3 năm gia sư Toán – Tiếng Việt cho học sinh Tiểu học, Ngữ Văn lớp 9, lớp 12, luyện thi vào trường chuyên Giảng Võ, luyện thi vào lớp 10 các trường chuyên, trường công lập..</li>
                                               <li>Là gia sư tiêu biểu được nhiều phụ huynh đánh giá tốt hoạt động tại câu lạc bộ Gia sư Chuyên Lam Sơn</li>
                                               <li>Là thành viên câu lạc bộ Kỹ năng cuộc sống – Đại học Ngoại thương.</li>
                                               <li>Cây viết trẻ trên toàn quốc</li>
                                           </ul>

                                          <!-- Social media icons -->
                                          <div class="social">
                                               <a href="#"><i class="fa fa-facebook"></i></a>
                                          </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           
                           <!-- Education -->
                           <div class="rblock">
                              <div class="row">
                                 <div class="span3">
                                    <h4>Mục tiêu</h4>                            
                                 </div>
                                 <div class="span9">
                                    <div class="rinfo">
                                       <ul>
                                           <li>Trang bị những kiến thức phổ thông, cơ bản, hiện đại, có tính hệ thống về ngôn ngữ và văn học, đi từ Cơ bản đến nâng cao, 
                                           chuẩn bị có các kỳ thi quan trọng cuối cấp lên cấp 3, vào trường chuyên, lớp chọn</li>
                                           <li>Hình thành và phát triển ở học sinh các năng lực sử dụng tiếng Việt, 
                                           biết ứng dụng những điều đã học vào cuộc sống</li>
                                           <li>Tạo cảm hứng học tập với môn Văn, Bồi dưỡng cho HS tình yêu tiếng Việt, văn hóa, yêu gia
                                           đình, đất nước. Bất cứ việc gì muốn thành công cũng phải xuất phát từ tình yêu và sự tự nguyện, 
                                           việc định hướng và đưa ra những mục tiêu, những tấm gương sáng cũng như thổi đam mê sẽ
                                           khiến các em đạt hiệu quả cao trong học tập.</li>
                                           <li>Hình thành lối tư duy logic trong văn học, tinh thần tự giác, suy nghĩ độc lập và trách nhiệm.</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           
                           <!-- Skills -->
                           <div class="rblock">
                              <div class="row">
                                 <div class="span3">
                                    <h4>Kiểm tra đầu vào:</h4>                            
                                 </div>
                                 <div class="span9">
                                    <div class="rinfo">
                                       <p>Thời gian: Ngày 9/8/2015</p>
                                       <ul>
                                           <li>Ca sáng: 9h-11h</li>
                                           <li>Ca chiều: 15h-17h</li>
                                       </ul>
                                       <p>Địa điểm: Số 8, ngõ 18 Nguyên Hồng, Đống Đa, Hà Nội</p>
                                       <p>Nội dung kiểm tra: 1 đề nghị luận Xã hội và 1 đề nghị luận văn học</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="rblock">
                              <div class="row">
                                 <div class="span3">
                                    <h4>Thời gian:</h4>                            
                                 </div>
                                 <div class="span9">
                                    <div class="rinfo">
                                       <ul>
                                           <li>Lịch học: 1 buổi/tuần</li>
                                           <li>Thời gian học: Chủ nhật hàng tuần từ 15-17h</li>
                                           <li>Khai giảng: 15h, ngày 16/8/2015</li>
                                           <li>Phiếu đánh giá gửi tới phụ huynh hàng tháng</li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>                           
                           <div class="rblock">
                              <div class="row">
                                 <div class="span3">
                                    <h4>Đăng kí:</h4>                            
                                 </div>
                                 <div class="span9">
                                    <div class="rinfo">
	                                    <p>Anh, chị vui lòng đăng ký theo form sau và gửi vào địa chỉ : giasuchuyenlamson@gmail.com 
	                                    trước ngày 8/8/2015.</p>
	                                    <ul>
	                                      <li>Tên học sinh: </li>
	                                      <li>Tên bố hoặc mẹ:</li>
	                                      <li>Số điện thoại:</li>
	                                      <li>Email:</li>
	                                      <li>Đăng kí TEST ngày:</li>
	                                    </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
            
            <!-- Resume ends -->         
         </div>
      </div>
   </div>
</div>   

{% endblock %}