{% extends "base.html" %}
  
{% block content %}

<!-- Slider (Parallax Slider) -->
            
       <div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Khoá học bồi dưỡng môn văn đặc biệt</h2>
					<p class="textslide">Khơi gợi và phát huy tối đa khả năng của học sinh, bồi dưỡng cho học sinh kiến thức môn Văn, kiến thức cuộc sống và các kỹ năng nhằm đạt được mục tiêu lớn nhất mà các em và gia đình hướng tới.</p>
					<a href="/courses" class="da-link">Chi tiết</a>
					<div class="da-img"><img src="{{ url_for('static', filename='img/parallax/doingugiasu3.png') }}" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Khoá học bồi dưỡng môn văn đặc biệt</h2>
					<p class="textslide">Giáo viên là một người có thành tích rất tốt, là người có trách nhiệm cao, nhiệt tình, tâm huyết, có kiến thức sâu rộng, có kinh nghiệm giảng dạy được rất nhiều phụ huynh tín nhiệm.</p>
					<a href="/courses" class="da-link">Chi tiết</a>
					<div class="da-img"><img src="{{ url_for('static', filename='img/parallax/phuongphaphoctap.png') }}" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Khoá học bồi dưỡng môn văn đặc biệt</h2>
					<p class="textslide">Truyền cho các em cảm hứng về môn Văn nói riêng, các môn học nói chung, tạo cho các em đam mê học tập, chia sẻ kinh nghiệm của người đi trước, đào tạo các kỹ năng tự học, tự giác, tư duy độc lập...</p>
					<a href="/courses" class="da-link">Chi tiết</a>
					<div class="da-img"><img src="{{ url_for('static', filename='img/parallax/thuvientailieu.png') }}" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Khoá học bồi dưỡng môn văn đặc biệt</h2>
					<p class="textslide">Khoá học miễn phí 100%. Đó là sự tiên phong khẳng định uy tín của một đội ngũ những người làm giáo dục có tâm huyết, trách nhiệm muốn truyền thụ kiến thức cho các thế hệ về sau.</p>
					<a href="/courses" class="da-link">Chi tiết</a>
					<div class="da-img"><img src="{{ url_for('static', filename='img/parallax/gochoctap.png') }}" alt="image01" /></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
			<div align="center">
				<h3>" Truyền nhiệt huyết - Tạo đam mê - Chia sẻ thành công "</h3>
				<img src="{{ url_for('static', filename='img/parallax/wrapper_title.png') }}" alt="image01" />
			</div>
            
            <!-- Slider ends -->

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
         	<!-- Face LamSon -->
					<div class="hero">
            	<!-- Title. Don't forget the <span> tag -->
                <h3><span class="color">Gia sư Chất lượng cao:</span></h3>
                <!-- para -->
                <p>Các gia sư chất lượng cao của CLB gia sư chuyên Lam Sơn:</p>
            </div>
            
            <!-- Service starts -->
            
            <div class="services">
                  <div class="row">
                  	<div class="jcarouse">
                  	<ul>
                  	<li>	
                     <div class="span4">
                     
                        <!-- Service #1 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> La Hồng Quân</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/LaHongQuan.jpg" alt="" />
                           </div>
                           <p>Là sinh viên trường đại học Ngoại Thương Hà Nội. Từng đạt giải 3 toán quốc gia năm 2011, giải nhất báo toán học tuổi trẻ năm 2007-2008; giải nhì các năm 2008-2009 và 2009-2010</p>
                        </div>
                        
                     </div>
                     </li>
                     <li>
                     <div class="span4">
                     
                        <!-- Service #2 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Hồ Thị Ngọc</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/HoThiNgoc.jpg" alt="" />
                           </div>
                           <p>Là sinh viên khoa Quốc tế học trường đại học KHXH&NV. Từng đạt giải nhì tỉnh môn văn, giải 3 viết văn toàn trường chào mừng ngày 20/11. </p>
                        </div>                     
                        
                     </div>
                     </li>
                     <li>
                     <div class="span4">
                     
                        <!-- Service #3 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Nguyễn Bá Sơn</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/NguyenBaSon.jpg" alt="" />
                           </div>
                           <p>Là sinh viên trường đại học Y Hà Nội khóa 12-18. Đã từng đạt giải nhì môn sinh cấp tỉnh năm lớp 11, giải ba môn toán năm lớp 12 và từng tham gia cuộc thi Đường lên đỉnh Olympia.</p>
                        </div>                     
                        
                     </div>
                     </li>
                     <li>
                     <div class="span4">
                     
                        <!-- Service #4 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Nguyễn Thị Hồng Nhung</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/NguyenThiHongNhung.jpg" alt="" />
                           </div>
                           <p>Hiện đang là sinh viên khoa quản lý kinh tế dược - Đại học Dược Hà Nội. Từng đạt giải nhì tỉnh Hóa lớp 9; Giải Ba tỉnh Hóa 12; Giải nhì Hóa học Hoàng Gia Úc.</p>
                        </div>  
                        
                     </div>
                     </li>
                     <li>
                     <div class="span4">
                     
                        <!-- Service #5 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Dương Thị Hằng</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/DuongThiHang.jpg" alt="" />
                           </div>
                           <p>Là sinh viên trường đại học Ngoại thương Hà Nội. Hai năm liền đoạt giải 3 Quốc gia môn Văn, giải nhất Văn cấp tỉnh.</p>
                        </div>  
                        
                     </div>
                     </li>
                     <li>
                     <div class="span4">
                     
                        <!-- Service #6 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Võ Thị Trà My</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/13017.jpg" alt="" />
                           </div>
                           <p>Là sinh viên khoa Kinh tế đối ngoại trường đại học Ngoại thương Hà Nội. Giải Nhì môn Ngữ Văn Quốc gia 2010, Giải Nhì Văn cấp tỉnh năm 2010</p>
                        </div>  
                        
                     </div>
                     </li>
                     <li>
                     <div class="span4">
                     
                        <!-- Service #7 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Trần Thị Ngọc Ánh</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/13018.jpg" alt="" />
                           </div>
                           <p>Là sinh viên khoa Luật kinh tế đại học Luật Hà Nội. Từng đạt giải Nhì học sinh giỏi Quốc gia, giải Nhất cấp tỉnh môn Địa lí lớp 12.</p>
                        </div>  
                        
                     </div>
                     </li>
                     <li>
                     <div class="span4">
                     
                        <!-- Service #8 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Trịnh Thị Hằng</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/13019.jpg" alt="" />
                           </div>
                           <p>Là sinh viên khoa Kinh tế đối ngoại, Đại học Ngoại Thương Hà Nội. Từng đạt giải ba học sinh giỏi quốc gia môn văn, giải nhất học sinh giỏi tỉnh môn văn.</p>
                        </div>  
                        
                     </div>
                     </li>
                     
                     </ul>
                  </div>
                  </div>
            </div>
            
            <!-- Serivce ends -->

            <!-- Testimonials starts -->
            
            <div class="testimonial">
               <div class="row">
                  <div class="span8">
                  
                     <!-- Testimonial hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span class="color">Nhận xét về CLB:</span></h3>
                        <!-- para -->
                        <p>Thời gian qua câu lạc bộ đã nhận được rất nhiều phản hồi tốt từ phía phụ huynh về CLB.</p>
                     </div>
                     <!-- Testimonial style 2-->
                     
                     <div class="testimonial">
                        <div class="row">
                                                  
                           <div class="span8">
                              <!-- Testimonial 1 -->
                              <div class="testi">
                                 <!-- Comment -->
                                 <div class="tquote">"Con trai mình đi học thêm một nhóm 5 cháu Toán, Lý Anh. 
                                 					  Nhưng học mãi mà vẫn không thấy tốt lên gì cả. Mình theo dõi và phát hiện con ngại không hỏi bài cô giáo những bài không làm được và những bài cô giảng con không hiểu. 
                                 					  Kết quả là học mãi vẫn đứng yên một chỗ. Mình quyết định mời Gia sư về nhà dạy cho con. Tuy đắt hơn một tý nhưng mình thấy con không mất thời gian đi lại, con có sức khỏe và thời gian để còn học. 
                                 					  Từ ngày con học Gia sư thấy con tự tin làm bài hơn. Hôm kiểm tra Lý và Anh con nói làm bài được hết cả câu nâng cao mình mừng quá. Hôm nay thi học kỳ môn Anh thấy con rất tự tin. Vậy là mình thấy không uổng công mời Gia sư. 
                                 					  Tuy mới học được hơn 1 tháng nhưng mình thấy bước đầu như vậy là rất tốt.
													  Cám ơn CLB Gia sư chuyên Lam Sơn Thanh Hóa. Chúc các bạn ngày càng thành công."</div>
                                 <!-- Author name and designation. Note down the syntax. -->
                                 <div class="tauthor">- <i class="icon-user"></i><span class="color"> Cô Nga,</span> Long Biên - (nick: meuyenanh - thành viên forum lamchame.com)</div>
                                 <div class="clearfix"></div>
                              </div>
                     <!--      </div>
                           
                           <div class="span8">  -->
                              <!-- Testimonial 2 -->
                              <div class="testi">
                                 <div class="tquote">"Sau 1 tháng được các anh chị gia sư của trung tâm Lam Sơn dạy kèm, nhóc nhà mình rất phấn khởi vì gặp được những người giỏi về kiến thức, lại có phương pháp truyền đạt tốt nên cảm thấy vững vàng hơn nhiều khi đối mặt với áp lực của các bài kiểm tra/ thi học kỳ ở trường.
Khối lượng bài vở và sự đánh đố về độ khó của các môn học ở trường con mình nặng hơn nhiều so với mặt bằng chung các trường PTCS. Mình cho con học thêm chỉ để chống chọi với thứ áp lực vô lý đó chứ không hề tham vọng thì vào chuyên.
Con nhà mình học cả toán- lý - hóa -văn - anh với các gia sư của CLB, rất hài lòng sau mỗi buổi học vì những khó khăn vướng mắc đều được các anh các chị bày cách cho giải quyết. 
Mong cho CLB phát triển bền vững đề nhóc nhà mình còn được nhờ vả cho đến khi thi đại học."</div>
                                 <div class="tauthor">- <i class="icon-user"></i><span class="color"> Cô Nga,</span> Đê La Thành - (nick: Mẹ Tom tép - thành viên forum lamchame.com)</div>
                                 <div class="clearfix"></div>
                              </div>
                    <!--       </div>

                           <div class="span8">  -->
                              <!-- Testimonial 1 -->
                              <div class="testi">
                                 <!-- Comment -->
                                 <div class="tquote">"Em trai tớ đang học gia sư của CLB này ( sau hơn 2 tháng được gọi vào đội tuyển toán của trường ... đối với nhà mình thì là một sự tiến bộ vượt bậc rồi vì ban đầu bé chỉ nằm ở 1/2 lớp trung bình thôi chưa nằm trong 1/2 lớp khá nữa ) và con trai tớ cũng đang nhờ thầy qua lễ 30/4 xếp lịch để học nhưng thầy đang bận quá hay sao chưa thấy hẹn lịch cụ thể nên hôm nay tớ chạy vào nhắc đây. Tất nhiên thành công hay ko chính là ở đứa trẻ nhưng mình đánh giá cao CLB này vì sự tận tâm - khả năng sư phạm - tránh nhiệm bạn nhé! Bạn cứ thử xem"</div>
                                 <!-- Author name and designation. Note down the syntax. -->
                                 <div class="tauthor">- <i class="icon-user"></i><span class="color"> Chị Ngọc,</span> Đặng Tiến Đông - (nick: mebeluan - thành viên forum lamchame.com)</div>
                                 <div class="clearfix"></div>
                              </div>
                           </div>                           
                           
                        </div>
                     </div>
                     
                  </div>
                  <!-- Gương mặt Lam Sơn -->
                  
                  <div class="span4">
                  	
                  	<div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span class="color">Gương mặt Lam Sơn:</span></h3>
                        <!-- para -->
                        <p>Những học sinh tiêu biểu đạt thành tích cao.</p>
                     </div>
                     <div class="testimonial">
                     	<div class="row">
                     		<div class="span4">
                  				<div class="jcarousels">
                  	<ul>
                  	<li>	
                     
                     
                        <!-- Service #1 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Nguyễn Huy Dũng</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/dungnh.JPG" alt="" />
                           </div>
                           <p>Là một trong 4 học sinh của Trường THPT chuyên Lam Sơn (Thanh Hóa) đạt giải nhất kỳ thi học sinh giỏi quốc gia với số điểm thuyết phục 30 điểm.</p>
                        </div>
                        
                     </li>
                     <li>
                     
                        <!-- Service #2 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Lê Xuân Mạnh</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/manhlx.JPG" alt="" />
                           </div>
                           <p>Với số điểm 37,9/40 đứng thứ 2 toàn quốc, em Lê Xuân Mạnh đã giành giải Nhất môn Tin học trong cuộc thi HS giỏi Quốc gia năm học 2012 -2013.</p>
                        </div>                     
                        
                     
                     </li>
                     <li>
                     
                     
                        <!-- Service #2 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Mỵ Duy Hoàng Long</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/longmdh.jpg" alt="" />
                           </div>
                           <p>Mỵ Duy Hoàng Long là lớp 12 chuyên Vật lý, Trường THPT chuyên Lam Sơn. Huy chương Đồng kỳ thi Olympic Vật lý châu Á năm 2013</p>
                        </div>                     
                        
                     
                     </li>
                     <li>
                     
                     
                        <!-- Service #3 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Bùi Ngọc Anh</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/anhbn.jpg" alt="" />
                           </div>
                           <p>Bùi Ngọc Ánh là học sinh chuyên Sử trường THPT chuyên Lam Sơn. Giải 3 HSG Quốc Gia môn Lịch Sử. Thủ khoa HV Báo Chí tuyên truyền 2012.</p>
                        </div>  
                        
                     
                     </li>
                     <li>
                     
                     
                        <!-- Service #4 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Hoàng Đức Ý</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/ducyhoang.jpg" alt="" />
                           </div>
                           <p>Hoàng Đức Ý là học sinh lớp chuyên Toán khóa 05-08. Từng đạt HCV cuộc thi Olympic Toán học IMO 2008.</p>
                        </div>  
                        
                     
                     </li>
                     <li>
                     
                     
                        <!-- Service #4 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Nguyễn Đức Bình</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/binhnd.jpg" alt="" />
                           </div>
                           <p>Nguyễn Đức Bình là học sinh lớp 12 chuyên Hóa. Huy chương Bạc trong cuộc thi Olympic Hóa học quốc tế lần thứ 42 tổ chức tại Nhật Bản.</p>
                        </div>  
                        
                     
                     </li>
                     <li>
                     
                     
                        <!-- Service #5 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Lê Ngọc Anh</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/leanh.JPG" alt="" />
                           </div>
                           <p>Lê Ngọc Anh là học sinh lớp chuyên Toán khóa 05-08. Từng đạt HCV cuộc thi Olympic Toán học IMO 2008.</p>
                        </div>  
                        
                     
                     </li>
                     <li>
                     
                     
                        <!-- Service #5 -->
                        <div class="service" align="center">
                           <!-- Icon & title. Font Awesome icon used. -->
                           <h5><span><i class="icon-bookmark-empty"></i> Lê Huy Quang</span></h5>
                           <div class="img_tutor">
                           		<img src="static/img/tutor_img/quanglh.jpg" alt="" />
                           </div>
                           <p>Lê Huy Quang là học sinh lớp 12 chuyên Vật lý. HCV cuộc thi Olympic Vật lý năm 2012 tại Ấn Độ.</p>
                        </div>  
                        
                     
                     </li>
                     
                     </ul>
                  </div>
                    		</div>
                  		</div>
                  	</div>
                  <!-- End Gương mặt LS -->
               </div>
            </div>
            </div>

            <!-- Testimonials ends -->
         
         </div>
      </div>
   </div>
</div>   



{% endblock %}