{% extends "base.html" %}
  
{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">
            
            <!-- Pricing table starts -->
            
            <div class="pricing">
               <div class="row">
                  <div class="span8">
                  
                     <!-- Pricing table hero -->
                     <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span class="color">Học phí tham khảo</span></h3>
                        <!-- para -->
                        <p>Bảng học phí chỉ mang tính chất tham khảo. Học phí có thể tăng hoặc giảm tùy theo từng lớp.</p>
                     </div>
                     <!-- Pricing table -->
                     
                     <!-- Price details. Note down the class name before you edit. -->
                     <div class="row">
                     
                        <div class="span8">
                        
                           <!-- Add the class "phighlight" to highlight specific table -->
                    	   <table class="table table-hover">
							<tr>
    							<td>STT</td>
    							<td>Lớp</td>
    							<td>Học phí</td>
    							<td>Chú thích</td>    		
							</tr>
							<tr class="success">
    							<td>1</td>
    							<td>Tiểu học</td>
    							<td>100.000</td>
    							<td></td>    							
							</tr>
							<tr class="warning">
    							<td>2</td>
    							<td>Trung học cơ sở</td>
    							<td>100.000 - 150.000</td>
    							<td></td>    							
							</tr>
							<tr class="success">
    							<td>3</td>
    							<td>Trung học phổ thông</td>
    							<td>120.000 - 150.000</td>  
    							<td></td>  							
							</tr>							
							<tr class="warning">
    							<td>4</td>
    							<td>Ôn thi vào cấp 2 chuyên</td>
    							<td>120.000</td>
    							<td>Riêng chuyên Ams là 150.000</td>    							
							</tr>
							<tr class="success">
    							<td>5</td>
    							<td>Ôn thi cấp 3</td>
    							<td>130.000</td>
    							<td>Ôn thi chuyên học phí 150.000 - 180.000</td>    							
							</tr>
							<tr class="warning">
    							<td>6</td>
    							<td>Ôn thi đại học</td>
    							<td>150.000 - 200.000</td>  
    							<td></td>  							
							</tr>
							<tr class="success">
    							<td>7</td>
    							<td>Tiếng Anh yêu cầu IETLS</td>
    							<td>150.000</td>
    							<td></td>    							
							</tr>
							<tr class="warning">
    							<td>8</td>
    							<td>IETLS &#60 6.0 </td>
    							<td>200.000</td>
    							<td></td>    							
							</tr>
							<tr class="success">
    							<td>9</td>
    							<td>IETLS &#62 7.0 </td>
    							<td>250.000</td>  
    							<td></td>  							
							</tr>
							<tr class="warning">
    							<td>10</td>
    							<td>Tiếng Pháp Cấp 1</td>
    							<td>120.000 - 150.000</td>
    							<td></td>    							
							</tr>
							<tr class="success">
    							<td>11</td>
    							<td>Tiếng Pháp Cấp 3</td>
    							<td>150.000 - 180.000</td>
    							<td></td>    							
							</tr>
							<tr class="warning">
    							<td>12</td>
    							<td>Ôn thi A1, A2</td>
    							<td>180.000</td>  
    							<td></td>  							
							</tr>
							<tr class="success">
    							<td>13</td>
    							<td>Ôn thi B1, B2, BAC</td>
    							<td>180.000 - 250.000</td>
    							<td></td>    							
							</tr>
							<tr class="warning">
    							<td>14</td>
    							<td>Tiếng Trung trẻ em</td>
    							<td>150.000</td>
    							<td></td>    							
							</tr>
							<tr class="success">
    							<td>15</td>
    							<td>Tiếng Trung người lớn</td>
    							<td>180.000 - 250.000</td>  
    							<td></td>  							
							</tr>
							<tr class="warning">
    							<td>16</td>
    							<td>Tiếng Nhật N4, N3</td>
    							<td>180.000 - 250.000</td>
    							<td></td>    							
							</tr>
							</table>
                           <div class="clearfix"></div>
                        </div>  
                        
                        
                     </div>
                     
                  </div>
                  <!-- Support Online -->
                  <div class="span4">
                    <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Hỗ trợ trực tuyến:</span></h3>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?cloud_hai"><img src="http://opi.yahoo.com/online?u=cloud_hai&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Nguyễn Hoàng Hải</b> <br />
                     	<b>0126 586 6886</b>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?hoangtu_banggia_2005"><img src="http://opi.yahoo.com/online?u=hoangtu_banggia_2005&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Nguyễn Hồng Quân</b> <br />
                     	<b>0165 606 4263</b>
                     </div>
                     <div align="center">
                     	<a href="ymsgr:sendim?lukesky_84"><img src="http://opi.yahoo.com/online?u=lukesky_84&m=g&t=14"/></a>
                     	<br />
                     	<b>Mr: Hoàng Tuấn Anh</b> <br />
                     	<b>0947 046 064</b>
                     </div>
                  </div>
               </div>
            </div>
    
            <!-- Service ends -->
         </div>
      </div>
   </div>
</div>   


{% endblock %}