{% macro render_checkbox(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    <div class="controls">
        <label for="{{ field.id }}" class="checkbox inline">
            {{ field }}{{ field.label.text }}
        </label>
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error|e }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro%}

{% macro render_radio(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        {% for subfield in field -%}
        <label for="{{ subfield.id }}" class="radio inline">
            {{ subfield }} {{ subfield.label.text }}
        </label>
        {%- endfor %}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_datepicker(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    {{ field.label(class_="control-label") }}
    <div class="controls">
        {{ field() }}
        <span class="help-inline">{{ field.description }}</span>
        {% if field.errors -%}
            {% for error in field.errors -%}
            <span class="help-block error">{{ error }}</span>
            {%- endfor %}
        {%- endif %}
    </div>
</div>
{% endmacro %}

{% macro render_textarea(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">

    {{ field.label(class_="control-label") }}

    <div class="controls">
        {{ field(class="input-madium", rows="3") }}
    </div>
</div>
{% endmacro %}

{% macro render_input(field) %}
<div class="control-group{% if field.errors %} error{% endif %}">
    
    {{ field.label(class_="control-label") }}
    
    <div class="controls">
        {{ field }}
    </div>
</div>
{% endmacro %}

{% macro render_action(field) %}
<div class="form-actions">
   {{ field(class_="btn") }}
</div>
{% endmacro %}

{% macro render_form(url, form, legend=None) %}
<form class="form-horizontal" method="POST" action="{{ url }}" {% for field in form -%}
    {% if field.type == "FileField" -%}
        enctype="multipart/form-data"
    {%- endif %}
{%- endfor %} >
    {{ form.hidden_tag() }}
    <fieldset>
        {% if legend -%}
        <legend>{{ legend|safe }}</legend>
        {%- endif %}
        {% for field in form -%}
            {% if field.type != "HiddenField" and field.type != "CSRFTokenField" -%}
                {% if field.type == "RadioField" -%}
                    {{ render_radio(field) }}
                {%- elif field.type == "BooleanField" -%}
                    {{ render_checkbox(field) }}
                {%- elif field.type == "SubmitField" -%}
                    {{ render_action(field) }}
                {%- elif field.type == "TextAreaField" %}
                    {{ render_textarea(field) }}
                {%- elif field.type == "DateField" -%}
                    {{ render_datepicker(field) }}
                {%- else -%}
                    {{ render_input(field) }}
                {%- endif %}
            {%- endif %}
        {%- endfor %}
    </fieldset>
</form>
{% endmacro %}
