{% macro render_pagination(pagination) %}                          
	<div class="pagination pagination-centered">
  	{% for page in pagination.iter_pages() %}
    	{% if page %}
    		{% if page != pagination.page %}
    			<a href="{{ url_for_other_page(page) }}">{{ page }}</a>
    		{% else %}
    			<strong>{{ page }}</strong>
    		{% endif %}
    	{% else %}
    		<span class=ellipsis>…</span>
    	{% endif %}
  	{% endfor %}
  	</div>
{% endmacro %}